<% @swatches.each do |swatch| %>
  <div>
    <li>Swatch Name: <%= swatch.name %></li>
    <li>Stitches Per Inch: <%= swatch.stitches_per_inch %></li>
    <li>Needle Size: <%= swatch.needle_size %></li>
    <%= link_to "Delete", swatch_path(swatch), method: :delete %> <br>
  </div>
<% end %>
