<% @measurements.each do |measurement| %>
  <div>
    <li>Sweater Owner's Name: <%= measurement.name %></li>
    <li>Chest Measurement: <%= measurement.chest_circumference %></li>
    <%= link_to "Delete", measurement_path(measurement), method: :delete %> <br>
  </div>
<% end %>

<!-- Child sizes for chest measurements: [26, 26], [28, 28],[30, 30], [32, 32], [34, 34], -->
